spring:
  application:
    name: LibraryManagementSystem

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/library_management_system
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: trung8d2005@gmail.com
    password: ${MAIL_PASSWORD:zmfx fzbe zdms ydle}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

openapi:
  dev-url: http://localhost:8080


